<div class="ui longer modal" id="m_detail" style="margin-left:10%; margin-top:10%; width:80%; height: 70%;">

    <form class="ui form">
        <h3 class="ui dividing header" style="text-align: center; margin-bottom:2%">매칭 등록하기</h3>
        <div class="field" style="width:80%; margin:auto;">

            <label>매칭 제목</label>
            <div class="field">
                <p id="m_name"></p>
            </div>

            <label>카테고리</label>
            <div class="field">
                <p id="m_category"></p>
            </div>
            <div id="m_mid" style="display:none;"></div>

            <label>위치</label>
            <div class="field">
                <p id="m_location"></p>
            </div>

            <label>매칭 내용</label>
            <div class="field">
                <p id="m_content"></p>
            </div>

            <div class="ui segment">
                <label>매칭 동아리 목록</label>

                <div class="ui relaxed divided list" id="m_list">
                    <!--리스트-->


                </div>
            </div>






        </div>
    </form>


    <div class="actions" onclick="request();">
        <div class="ui approve button">매칭신청</div>
    </div>
</div>

<div class="item" id="m_listitem">

    <div class="content" id="m_listitem_div">
        <a class="header" id="m_itemurl">Semantic-Org/Semantic-UI</a>
        <div class="description" id="m_itemdes">Updated 10 mins ago</div>
    </div>
</div>
<script>
    function request(){
        var mid = $('#m_mid').html();
        window.location="/maching/requestMaching?mid="+mid;
    }
</script>