<style>
 .sidemenu{
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 100%;
 }
</style>
<body>
   
    
    <div class="ui two column stackable grid">
        <div id="leftside" class="three wide column">
            <div class="ui segment">Content</div>
        </div>
        <div id ="maincontents" class="thirteen wide column">
            <div class="ui segment">
                    <h2>동아리 사진첩</h2>
            </div>
        </div>
    </div>
    <button onclick="on();">dd</button>


    <script>


        function on(){
        document.getElementById('maincontents').className="ten wide column";
        document.getElementById('leftside').className="six wide column";
        
        }
    </script>
</body>
