<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../semanticFolder/dist/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="../semanticFolder/dist/semantic.min.js"></script>
</head>

<body>
        <button class="ui button">
                Button
              </button>
              <div class="ui button" tabindex="0">
                Focusable
              </div>
    <!--navigation-->
    <section class="navigation">
        <div>
            <a class="item">
                Home
            </a>
            <a class="item">
                내동아리
            </a>
            <a class="item">
                게시판
            </a>
            <a class="item">
                매칭하기
            </a>
        </div>
    </section>
</body>
<main>
</main>

</html>