<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <!--navigation-->
    <section class="navigation">
        <div>
            <a href="/" class="item">
                Home
            </a>
            <a href="club" class="item">
                내동아리
            </a>
            <a href="board" class="item">
                게시판
            </a>
            <a href="maching" class="item">
                매칭하기
            </a>
        </div>
    </section>
</body>
<main>
</main>

</html>