<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/semanticFolder/dist/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/semanticFolder/dist/semantic.min.js"></script>

    <style type="text/css">
        body {
          background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
          margin-right: 1.5em;
        }
        .main.container {
          margin-top: 7em;
        }
        .wireframe {
          margin-top: 2em;
        }
        .ui.footer.segment {
          margin: 5em 0em 0em;
          padding: 5em 0em;
        }
        </style>
      
</head>

<body>

    <!--board content-->

    <div class="ui segment" style="width: 100%;">
        <h2 class="ui header" style="text-align: center">
            그룹 이름
        </h2>   
        <div class="ui two column very relaxed grid">
              <div class="column" style="width:20%;margin-left:2%">
                <div class="ui segment">
                    <h2 class="ui right floated header">#Club board</h2>
                    <div class="ui clearing divider"></div>
                    <p>가입자명단</p>
                    <p>게시판</p>
                    
                </div>
              </div>
              <div class="column" style="width:55%">
                <div class="ui segment">
                <h2 class="ui right floated header">Today's club meeting</h2>
                <div class="ui clearing divider"></div>
                    <p>공동 구매 합니다.(엔진 파츠 대량 구매)</p>
                    <p>자동차 연합 학회 발표 있습니다</p>
                    <p>정기모임 안내</p>
                    <p>연구 진행 방향 회의 일정</p>
                </div>
              </div>
              <div class="column" style="width:20%">
                <div class="ui segment">
                    <h2>something</h2>
                </div>
            </div>
          </div>


    <div class="ui vertically divided grid">
        </div>


        
    </div>
    </div>
   
    </div>
</body>
