<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</head>

<body>
    <!--navigation-->
    <section class="navigation">
        <div>
            <a href="/" class="item">
                Home
            </a>
            <a href="club" class="item">
                내동아리
            </a>
            <a href="board" class="item">
                게시판
            </a>
            <a href="maching" class="item">
                매칭하기
            </a>
        </div>
        <div class="item menu">
            <button class="login_button" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        </div>
        <div id="id01" class="modal">
            <form class="modal-content animate" action="/user/loginaction" method="POST">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="container">
                    <label for="id">
                        <b>ID</b>
                    </label>
                    <input type="text" placeholder="Enter ID" name="id" required>
                    <label for="pw">
                        <b>Password</b>
                    </label>
                    <input type="password" placeholder="Enter Password" name="pw" required>
                    <input type="text" name="url" style="display:none;" value="/">
                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <div class="container" style="background-color: lightgray">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot
                        <a href="#">password?</a>
                    </span>
                </div>
            </form>
        </div>
    </section>
</body>
<main class="text_center">
    <section>
        <div class="title">
            <img src=/img/footerimg.png style="height: 100%;width: 100%"></img>
        </div>
        <hr>
    </section>
    <section>
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>

        <hr>
    </section>
    <section>
        <div style="margin-bottom:5rem; margin-top:5rem; text-align:center">
            image
        </div>
        <hr>
    </section>
</main>

</html>