<body>
    <h1 style="text-align: center">Matching</h1>
    <!--메인 메뉴-->
    <div class="row">
        <div class="column">
            <div class="ui search" style="display:block;margin:auto;margin-top:1.5%">
                <div class="ui icon input"style="margin-left:25%; width:50%;margin-bottom:2%">
                    <input class="prompt" type="text" placeholder="Common passwords...">
                    <i class="search icon"></i>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <button class="ui google plus button" style="display: block; margin:auto; margin-top:2%">
        <i class="edit outline icon"></i>
        등록하기
    </button>

</body>
