<body>
    <div class="row">
        <div class="column">
            <div class="ui search" style="display:block;margin:auto;margin-top:1.5%">
                <div class="ui icon input" style="margin-left:25%; width:50%;margin-bottom:2%">
                    <input class="prompt" id="cc_searchinput" type="text" placeholder="Common passwords..." onkeypress="return runScript(event)">
                    <i class="circular search link icon" onclick="search()"></i>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ui segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <i class="users icon"></i>
                    <div class="content">
                        <a class="header" href="">수도권 영어 회화 모임</a>
                        <div class="description">주최:아주대 AJESS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>