<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="mainTitle"><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/modal.css' />

    <link rel="stylesheet" type="text/css" href="/SemanticFolder/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/SemanticFolder/dist/semantic.min.css">

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <script src="/SemanticFolder/dist/semantic.min.js"></script>
    <script>
            // Get the modal
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    <style type="text/css">
        body {
          background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
          margin-right: 1.5em;
        }
        .main.container {
          margin-top: 7em;
        }
        .wireframe {
          margin-top: 2em;
        }
        .ui.footer.segment {
          margin: 5em 0em 0em;
          padding: 5em 0em;
        }
        </style>
</head>
<body>
<header style="margin-bottom: 7%">
    <!--헤더영역-->

<div class="ui top fixed inverted menu" style="display:block">
    <div class="ui container">
        <div class="large header item">
            <h2 class="ui grey inverted header">Club Collector</h2>
        </div>
        <div class="right menu">
            <% if(session==="none"){ %>
                <a class="item">
                    <i class="large sign-in icon" onclick="document.getElementById('id01').style.display='block'"></i> 
                </a>
            <% } else { %>
                <a class="item">
                        <i class="large power off icon"></i> 
                </a>
            <% } %>

            <!--모달 시작-->
            <div id="id01" class="modal">
                    <form class="modal-content animate" action="/user/loginaction" method="POST">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        </div>
                        <div class="container">
                            <label for="id">
                                <b>ID</b>
                            </label>
                            <input type="text" placeholder="Enter ID" name="id" required>
                            <label for="pw">
                                <b>Password</b>
                            </label>
                            <input type="password" placeholder="Enter Password" name="pw" required>
                            <input type="text" name="url" style="display:none;" value="/">
                            <button type="submit">Login</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </div>
                        <div class="container2" style="background-color: lightgray">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                            <span class="psw">Forgot
                                <a href="#">password?</a>
                            </span>
                        </div>
                    </form>
                </div>
                <!--모달 끝-->
            <a class="item">
                <i class="large bars icon"></i>
            </a>
        </div>
    </div>
    <div class="ui container">

        <a href="/" class="red item" id='home'>홈</a>
        <a href="/club" class="orange item" id='club'>동아리</a>
        <a href="/group" class="yellow item" id='group'>그룹</a>
        <a href="/board" class="olive item" id='board'>게시판</a>
        <a href="/maching" class="green item" id='maching'>매칭하기</a> 
        <% if (title) { %>
            <script>
                //menu id 값 받음
                var selectedMenu=document.getElementById("mainTitle").textContent;
                var menuActived=document.getElementById(selectedMenu);
                menuActived.className="active "+menuActived.className;
            </script>
        <% } %>
    </div>
</div>
`
</header>
    <div id="main" style="border: 1px solid #dedede;">
        <%- body %>
    </div>
</body>
</html>