
<div class="ui segment" style="margin: 2em">
    <h3>메칭 히스토리</h3>
    <select id="nowClub" class="ui dropdown" onchange="showHst()">
        <option value="">나의 동아리</option>
        <option value="0">AJess</option>
        <option value="1">아몽</option>
        <option value="2">아르떼</option>
    </select>
</div>
<div class="ui segment" id="Ajess">
<div class="ui stackable grid" style="margin:1em"> 
    <h3><a href="">Ajess </a> 동아리의 History</h3>
    <div class="two column row">
        <div class="column">
            <div class="ui segment">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                        <a class="header">수도권 대학 영어회화 경진대회</a>
                        <div class="description">서울시 관악구 서울대/2018.07.02</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                        <a class="header">경기도 영어 friends 모임</a>
                        <div class="description">수원시 영통구 아주대 종합관/2018.08.21</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                        <a class="header">Sapporo Haru</a>
                        <div class="description">Greenpoint's best choice for quick and delicious sushi.</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                        <a class="header">Enlgish Speaking test</a>
                        <div class="description">hello guys we are ready to test.</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="plus icon"></i>
                        <div class="content">
                        <a class="header">더보기</a>
                        <div class="description">. . .</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h4>매칭 추천</h4>
                <p><i class="question circle icon"></i>나의 동아리와 매칭 경험이 있는 동아리 중심으로 추천되며, 그 동아리들과 매칭 경험이 있는 매칭도 추천합니다. 또한 그 동안 검색기록 매칭기록과 비슷한 주제의 매칭을 추천합니다. </p>
                <div class="ui segment">
                    <div>
                        <h4>콜라보 스터디합시다.</h4>
                        <span style="float:right">주최 동아리: <a href="">경희대 EnglishGO </a> [ 여석: 2/5 ]</span>
                        <div class="ui clearing divider"></div>
                        <span class='contentList' style="display:block;">
                            <p>서울시 성북구 혜화동</p>
                        </span>
                    </div>
                </div>
                <div class="ui segment">
                    <div>
                        <h4>외국인 학생 문화탐방.</h4>
                        <span style="float:right">주최 동아리: <a href="">성균관대 sunglish </a> [ 여석: 4/5 ]</span>
                        <div class="ui clearing divider"></div>
                        <span class='contentList' style="display:block;">
                            <p>수원시 팔달구</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</div>


<div class="ui segment" id="Amont">
    <div class="ui stackable grid" style="margin:1em"> 
        <h3><a href="">아몽 </a> 동아리의 History</h3>
        <div class="two column row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                            <a class="header">수도권 대학 콜라보 연극</a>
                            <div class="description">서울시 관악구 서울대/2018.07.02</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                            <a class="header">무대 제작 세미나</a>
                            <div class="description">수원시 영통구 아주대 종합관/2018.08.21</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                            <a class="header">서울 연극 투어 관람</a>
                            <div class="description">서울시 종로구 혜화/2018.10.13</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                            <a class="header">Enlgish Speaking test</a>
                            <div class="description">hello guys we are ready to test.</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="plus icon"></i>
                            <div class="content">
                            <a class="header">더보기</a>
                            <div class="description">. . .</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segment">
                    <h4>매칭 추천</h4>
                    <p><i class="question circle icon"></i>나의 동아리와 매칭 경험이 있는 동아리 중심으로 추천되며, 그 동아리들과 매칭 경험이 있는 매칭도 추천합니다. 또한 그 동안 검색기록 매칭기록과 비슷한 주제의 매칭을 추천합니다. </p>
                    <div class="ui segment">
                        <div>
                            <h4>콜라보 연극합시다.</h4>
                            <span style="float:right">주최 동아리: <a href="">경희대 연극단 </a> [ 여석: 2/5 ]</span>
                            <div class="ui clearing divider"></div>
                            <span class='contentList' style="display:block;">
                                <p>서울시 종로구 혜화동</p>
                            </span>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div>
                            <h4>새내기 문화생활 탐방.</h4>
                            <span style="float:right">주최 동아리: <a href="">성균관대 spec </a> [ 여석: 4/5 ]</span>
                            <div class="ui clearing divider"></div>
                            <span class='contentList' style="display:block;">
                                <p>수원시 팔달구</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui segment" id="Artte">
    <div class="ui stackable grid" style="margin:1em"> 
        <h3><a href="">아르떼 </a> 동아리의 History</h3>
        <div class="two column row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                            <a class="header">여름 기타 합주회</a>
                            <div class="description">서울시 성동구 한양대/2018.06.02</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                            <a class="header">단체 초청 공연 관람</a>
                            <div class="description">수원시 영통구 아주대 종합관/2018.08.21</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                            <a class="header">수원시 함께하는 음악 캠프</a>
                            <div class="description">수원시 팔달구 /2018.10.13</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                            <a class="header">통기타 + 합창 콜라보 구함</a>
                            <div class="description">경기도 용인시 수지구/2018.11.23</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="plus icon"></i>
                            <div class="content">
                            <a class="header">더보기</a>
                            <div class="description">. . .</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui segment">
                    <h4>매칭 추천</h4>
                    <p><i class="question circle icon"></i>나의 동아리와 매칭 경험이 있는 동아리 중심으로 추천되며, 그 동아리들과 매칭 경험이 있는 매칭도 추천합니다. 또한 그 동안 검색기록 매칭기록과 비슷한 주제의 매칭을 추천합니다. </p>
                    <div class="ui segment">
                        <div>
                            <h4>경기도 가을 합주팀.</h4>
                            <span style="float:right">주최 동아리: <a href="">성균관대 하늘하늘 </a> [ 여석: 2/5 ]</span>
                            <div class="ui clearing divider"></div>
                            <span class='contentList' style="display:block;">
                                <p>수원시 팔달구</p>
                            </span>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div>
                            <h4>반주팀+성악팀+힙합팀 콜라보 공연.</h4>
                            <span style="float:right">주최 동아리: <a href="">서울대 prizm </a> [ 여석: 4/5 ]</span>
                            <div class="ui clearing divider"></div>
                            <span class='contentList' style="display:block;">
                                <p>서울시 관악구</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <script>
        
        $('.ui.dropdown').dropdown('set selected', 0);
        function showHst(){
        var whichC=document.getElementById("nowClub");
        if(whichC.value==0)
        {
            document.getElementById("Ajess").style.display="block";
            document.getElementById("Amont").style.display="none";
            document.getElementById("Artte").style.display="none";
        }
        else if(whichC.value==1)
        {
            document.getElementById("Ajess").style.display="none";
            document.getElementById("Amont").style.display="block";
            document.getElementById("Artte").style.display="none";
        }
        else if(whichC.value==2){
            document.getElementById("Ajess").style.display="none";
            document.getElementById("Amont").style.display="none";
            document.getElementById("Artte").style.display="block";
        }}
    </script>