<div class="ui one column stackable grid">
    <div class="column">
        <div class="ui segment">
            <h3>내 동아리 매칭 목록</h3>
        </div>
    </div>
</div>
<div class="ui one column stackable grid">
    <div class="column">
        <div class="ui segment">
            <h4>경기 볼링 연합 정기전</h4>
            <p>참여 동아리수 : 5 club</p>
            <p>참여 인원 : 35 명</p>
            <p>장소 : 인계동 00볼링장</p>
            <p>시간 : 2018.12.25 / 4pm</p>
            <button class="ui button">나도 참가하기</button>
        </div>
    </div>
</div>